
@{
    ViewData["Title"] = "Dashboard";
    Layout = "Admin_Layout";
}

<!-- Stats -->
<div class="stats">
    <div class="stat-card">
        <i class="fas fa-user-graduate"></i>
        <h3>Học sinh</h3>
        <div class="number"></div>
    </div>
    <div class="stat-card">
        <i class="fas fa-chalkboard-teacher"></i>
        <h3>Giáo viên</h3>
        <div class="number"></div>
    </div>
    <div class="stat-card">
        <i class="fas fa-book"></i>
        <h3>Lớp học</h3>
        <div class="number"></div>
    </div>
</div>

